footer{
    padding: 40px 0;
    background: #102750;
    text-align: center;
}
footer h2{
    font-weight: 700;
    color: yellow;
}
footer p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    color: yellowgreen;
}
.color{
    color: yellow;
}